html {
    font-family: 'Roboto', sans-serif;
}

#player_count {
    font-size: 1.2em;
    font-weight: bold;
}

#message_box {
    margin-top: 30px;
    margin-bottom: 10px;
    max-height: 400px;
    overflow-y: scroll;
}

.user:after {
    content: ':';
    margin-left: 4px;
    margin-right: 10px;
}

.message {
    color: blue;
    font-size: 1.1em;
}

.won {
    color: red;
    font-size: 1.4em;
}

.left, .join {
    color: rgba(124, 124, 124, .8);
    font-size: .9em;
}

.left:after {
    content: ' opuścił grę';
}

.join:after {
    content: ' dołączył do gry';
}

#hi {
    margin: 30px auto;
}

#hi:before, #hi:after {
    font-size: .8em;
    color: #218837;
}

#hi:before {
    content: 'Witaj ';
}

#hi:after {
    content: '!';
}

.scoreboard_link {
    margin-top: 40px;
    display: block;
}

.loading {
}