html {
    font-family: 'Roboto', sans-serif;
}

.id_1 {
    font-size: 1.5em;
}

.id_2 {
    font-size: 1.3em;
}

.id_3 {
    font-size: 1.1em;
}

#latest {
    font-weight: bold;
    font-size: 1.4em;
}
